
.vscode/launch.json

.vscode/tasks.json

Now Solving/solving.cpp

Now Solving/solving.out

Now Solving/solving.out.dSYM/Contents/Info.plist

Now Solving/solving.out.dSYM/Contents/Resources/DWARF/solving.out

*.DS_Store

.vscode/settings.json

*.idea
*.iml
*.class
/src